mixin nav(className, items)
	nav(class=className)
		.container
			ul(class="#{className}__list")
				each item in items
					li(class="#{className}__item")
						a(href="#" class="#{className}__link")
							span(class="#{className}__elem")= item

mixin footer-nav(className, items)
	nav(class=className)
		ul(class="#{className}__list")
			each item in items
				li(class="#{className}__item")
					a(href="#" class="#{className}__link")= item

mixin news(className, data)
	.news
		h2(class="#{className}__title")
			| Новости
		ul(class="#{className}__list")
			each key in data
				li(class="#{className}__item")
					time(datetime="#{key.datetime}" class="#{className}__time")= key.time
					h5(class="#{className}__header")= key.header
